.our-locations {
    position: relative;
    padding: 100px 0;
    background-color: #004834;
    overflow: hidden;

    .our-locations__bg {
        position: absolute;
        top: 0;
        left: 50%;
    }

    .our-locations__section-title {
        position: relative;
        color: $white;

        h3 {
            margin: 0 0 30px;
        }
    }

    .our-locations__wrap {
        display: flex;
    }

    .our-locations__kk,
    .our-locations__iabm,
    .our-locations__office {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        background-color: $white;
        margin-bottom: 15px;
    }

    .our-locations__info--office,
    .our-locations__info--location {
        font-weight: 600;
    }

    .our-locations__info--location {
        color: $green;
        padding: 5px 0;
    }

    .our-locations__info--address {
        color: $gray-300;
    }
}

.google-map {
    position: relative;
    margin-top: 30px;
    height: 600px;
    height: 100%;

    .google-map__image {
        position: relative;
        background-size: cover;

        @media screen and (min-width: 993px) {
            height: 600px;
            background: url('../assets/images/map.jpg') no-repeat;
            background-position: center left;
        }

        @media screen and (max-width: 992px) {
            height: 400px;
            background: url('../assets/images/map992.jpg') no-repeat;
            background-position: right center;
        }

        @media screen and (max-width: 762px) {
            height: 400px;
            background: url('../assets/images/map762.jpg') no-repeat;
            background-position: right center;
        }

        @media screen and (max-width: 425px) {
            height: 300px;
            background: url('../assets/images/map425.jpg') no-repeat;
            background-position: right center;
        }
    }

    .about-authority__map-pin {
        background-image: url('../assets/icons/pin.svg');
    }

    // paste here
    #pin-1 {
        width: 55px;
        height: 65px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 28.5%;
        left: 800px;
        animation: pulse 2s infinite;
        transition: $dur $ease;

        &::before {
            content: '';
            background-image: url('../assets/icons/pin-king-khalid-logo.svg');
            width: 50%;
            height: 50%;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 18.5% auto;
        }

        &:hover {
            cursor: pointer;

            .about-authority .about-authority__image .about-authority__map .svgmap .r8 {
                fill: #d7c7b3 !important;
            }

            &::before {
                animation: scaleY 0.8s;
            }
        }

        @media screen and (max-width: 992px) {
            left: initial;
            top: 32%;
            right: 237px;
        }

        @media screen and (max-width: 762px) {
            left: initial;
            top: 32%;
            right: 124px;
        }

        @media screen and (max-width: 425px) {
            left: initial;
            top: 43%;
            right: 110px;
        }
    }

    #pin-2 {
        width: 55px;
        height: 65px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 23%;
        left: 870px;
        animation: pulse2 2s infinite;
        transition: $dur $ease;

        &::before {
            content: '';
            background-image: url('../assets/icons/pin-muhammad-logo.svg');
            width: 50%;
            height: 50%;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 19.5% auto;

        }

        &:hover {
            cursor: pointer;

            &::before {
                animation: scaleY 0.8s;
            }
        }

        @media screen and (max-width: 992px) {
            left: initial;
            top: 23%;
            right: 166px;
        }

        @media screen and (max-width: 762px) {
            left: initial;
            top: 23%;
            right: 50px;
        }

        @media screen and (max-width: 425px) {
            left: initial;
            top: 32%;
            right: 36px;
        }
    }
}