.button{
	&.primary{
		background-color: $primary-color;
	}

	&.secondary{
		background-color: $secondary-color;
	}

	&.tertiary{
		background-color: $tertiary-color;
	}
}

// About-authority button
.about-authority__link {
	padding: 20px;
	background-color: $secondary-color;
	color: $white;
	border: 1px solid $secondary-color;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	transition: 0.3s ease-in-out;

	&:hover {
		background-color: $white;
		color: $secondary-color;
	}

	i.icon-angle-left,
	i.icon-angle-right {
		display: flex;
		margin: 0 5px;
		&::before {
            font-size: 20px;
        }
	}

	i.icon-angle-left {
        display: none;
    }
}

// Media Center button
.load-more__btn,
.see-more-on-twitter {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    text-align: center;
    font-weight: 400;
    color: $white;
    margin-top: 30px;
    display: block;
    max-width: 130px;
    width: 100%;
    margin: 0 auto;
    transition: $dur $ease;

    &:hover {
        background-color: $white;
        border: 1px solid $secondary-color;
        color: $secondary-color;
    }
}

.see-more-on-instagram {
    display: none;
}

.see-more-on-twitter {
    max-width: 176px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
